#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.input{
  padding: 9px;
  border: 2px solid red;
}
.btn {
  display: inline-block;
}
.btn-1 {
  margin-left: 5px;
  border: 2px solid blue;
}

.btn-2 {
  margin-top: 5px;
  border: 2px solid green;
}